In [112]:
import pandas as pd

In [113]:
df_historical_data = pd.read_csv('Euro_results.csv')
df_fixture= pd.read_csv('euro_fixture.csv')

In [114]:
df_fixture['Home Team'] = df_fixture['Home Team'].str.strip()
df_fixture['Away Team'] = df_fixture['Away Team'].str.strip()
df_historical_data

           Home Team    Game Score      Away Team  Year
0            France            4–5     Yugoslavia  1960
1    Czechoslovakia            0–3   Soviet Union  1960
2    Czechoslovakia            2–0         France  1960
3      Soviet Union   2–1 (a.e.t.)     Yugoslavia  1960
4             Spain   2–1 (a.e.t.)        Hungary  1964
..               ...           ...            ...   ...
332  Czech Republic            1–2        Denmark  2020
333         Ukraine            0–4        England  2020
334           Italy   1–1 (a.e.t.)          Spain  2020
335         England   2–1 (a.e.t.)        Denmark  2020
336           Italy   1–1 (a.e.t.)        England  2020

[337 rows x 4 columns]

In [115]:
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('Year', inplace=True)
df_historical_data

           Home Team    Game Score        Away Team  Year
0            France            4–5       Yugoslavia  1960
3      Soviet Union   2–1 (a.e.t.)       Yugoslavia  1960
2    Czechoslovakia            2–0           France  1960
1    Czechoslovakia            0–3     Soviet Union  1960
4             Spain   2–1 (a.e.t.)          Hungary  1964
..               ...           ...              ...   ...
306         Croatia            1–1   Czech Republic  2020
307         England            0–0         Scotland  2020
308         Croatia            3–1         Scotland  2020
309  Czech Republic            0–1          England  2020
310          Poland            1–2         Slovakia  2020

[337 rows x 4 columns]

In [116]:
df_historical_data['Game Score'] = df_historical_data['Game Score'].str.replace('[^\d–]', '', regex=True)

In [117]:
df_historical_data['Home Team'] = df_historical_data['Home Team'].str.strip()
df_historical_data['Away Team'] = df_historical_data['Away Team'].str.strip()

In [118]:
df_historical_data[['Home Goals', 'Away Goals']] = df_historical_data['Game Score'].str.split('–', expand=True)
df_historical_data.drop('Game Score', axis=1, inplace=True)
df_historical_data = df_historical_data.astype({'Home Goals': int, 'Away Goals':int, 'Year': int})

# creating new column "totalgoals"
df_historical_data['Total Goals'] = df_historical_data['Home Goals'] + df_historical_data['Away Goals']
df_historical_data

          Home Team       Away Team  Year  Home Goals  Away Goals  Total Goals
0            France      Yugoslavia  1960           4           5            9
3      Soviet Union      Yugoslavia  1960           2           1            3
2    Czechoslovakia          France  1960           2           0            2
1    Czechoslovakia    Soviet Union  1960           0           3            3
4             Spain         Hungary  1964           2           1            3
..              ...             ...   ...         ...         ...          ...
306         Croatia  Czech Republic  2020           1           1            2
307         England        Scotland  2020           0           0            0
308         Croatia        Scotland  2020           3           1            4
309  Czech Republic         England  2020           0           1            1
310          Poland        Slovakia  2020           1           2            3

[337 rows x 6 columns]

In [122]:
df_historical_data.to_csv('cleaned_euro_results.csv', index=False)

In [123]:
df_fixture.to_csv('cleaned_euro_fixture.csv', index=False)