In [2]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [3]:
all_tables = pd.read_html('https://web.archive.org/web/20240602150318/https://en.wikipedia.org/wiki/UEFA_Euro_2024')

In [4]:
all_tables[19]
all_tables[26]
all_tables[33]
all_tables[40]
all_tables[47]
all_tables[54]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Turkey,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Georgia,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Portugal,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Czech Republic,0,0,0,0,0,0,0,0,NaN

In [5]:
alphabet
all_tables[19].columns[9]

'Pts'

In [6]:
all_tables = pd.read_html('https://web.archive.org/web/20240602150318/https://en.wikipedia.org/wiki/UEFA_Euro_2024')
dict_table = {}
for letter, i in zip(alphabet, range(19, 61, 7)):
    df=all_tables[i]
    df.rename(columns={df.columns[1] : 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [7]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F'])

In [8]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)

In [9]:
dict_table

{'Group A':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  Germany (H)    0  0  0  0   0   0   0    0
 1    2     Scotland    0  0  0  0   0   0   0    0
 2    3      Hungary    0  0  0  0   0   0   0    0
 3    4  Switzerland    0  0  0  0   0   0   0    0,
 'Group B':    Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1    Spain    0  0  0  0   0   0   0    0
 1    2  Croatia    0  0  0  0   0   0   0    0
 2    3    Italy    0  0  0  0   0   0   0    0
 3    4  Albania    0  0  0  0   0   0   0    0,
 'Group C':    Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  Slovenia    0  0  0  0   0   0   0    0
 1    2   Denmark    0  0  0  0   0   0   0    0
 2    3    Serbia    0  0  0  0   0   0   0    0
 3    4   England    0  0  0  0   0   0   0    0,
 'Group D':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1       Poland    0  0  0  0   0   0   0    0
 1    2  Netherlands    0  0  0  0   0   0   0    0
 2    3      Austria    0  0  0  0   0   0   0    0
 3    4       France    0  0  0  0   0   0   0    0,
 'Group E':    Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1   Belgium    0  0  0  0   0   0   0    0
 1    2  Slovakia    0  0  0  0   0   0   0    0
 2    3   Romania    0  0  0  0   0   0   0    0
 3    4   Ukraine    0  0  0  0   0   0   0    0,
 'Group F':    Pos            Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1          Turkey    0  0  0  0   0   0   0    0
 1    2         Georgia    0  0  0  0   0   0   0    0
 2    3        Portugal    0  0  0  0   0   0   0    0
 3    4  Czech Republic    0  0  0  0   0   0   0    0}